@using IMIS_CORE.Core
@model IMIS_Service.ViewModel.ItemPurchaseTypeVM
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div>
    <div class="form-group is-empty">
        <label for="region" class="col-md-2 control-label">Description(English)<span class="requried">*</span></label>
        <div class="col-md-9">
            <input type="text" class="form-control" asp-for="NepEng">
        </div>
    </div>
    <div class="form-group is-empty">
        <label for="region" class="col-md-2 control-label">Description(Nepali)<span class="requried">*</span></label>
        <div class="col-md-9">
            <input type="text" class="form-control" asp-for="NepName">
        </div>
    </div>
</div>