@using IMIS_CORE.Core
@{
    ViewData["Title"] = "ItemCategoryList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>

<style>
    td.details-control {
        background: url('../images/icons/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('../images/icons/details_close.png') no-repeat center center;
    }
</style>

<link href="~/lib/jstree/dist/themes/default/style.css" rel="stylesheet" />
<script src="~/lib/jstree/dist/jstree.js"></script>

<body>

    <!-- Navigation -->
    <div id="page-wrapper">
        <div class="container-fluid">

            <div class="tab-lists-wrapper boxed parentTabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#region-tab">Item Category List</a> </li>
                </ul>

                <div class="tab-content">

                    <!-- tab 1: region starts -->
                    <div class="tab-pane fade active in" id="region-tab">
                        <a href="@Url.Content("~/{0}/ItemCategoryCreate.html")" class="btn btn-primary btn-fab add"><i class="material-icons">add</i></a>
                        <a href="#searchCollapse" class="btn btn-warning btn-fab search" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="searchCollapse"> <i class="material-icons search">search</i><i class="material-icons close">close</i></a>
                        <div class="collapse" id="searchCollapse">
                            <div class="well">
                                <div class="form-group">
                                    <div class="col-sm-3 ">
                                        <input type="text" class="form-control" placeholder=@Utils.GetLabel("Name")>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" placeholder=@Utils.GetLabel("Name(Nepali)")>
                                    </div>
                                    <div class="col-sm-1 pull-right"><a href="#" class="btn btn-default form-modal-call"><i class="material-icons">search</i></a></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-4" style="float: left;">
                        <nav class="navbar navbar-left col-sm-12" style="background-color:azure;margin-top:40px;border-right:5px solid gray">
                            <div id="tree"></div>
                        </nav>
                    </div>
                    <div  class="col-sm-8" style="float: right;"><div id="partial">

</div></div>
                   
                    
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>

    <div id="add" hidden>

    </div>

</body>

<script type="text/javascript">
    $(function () {
        $('#tree').jstree({
            'core': {
                "themes": {
                    "icons": false,
                    "stripes": false
                },
                'data': {
                    "url": "@Url.Content("~/ItemCategoryFetchData.html")",
                    "data": function (node) {
                        debugger;
                        return { "id": node.id };
                    }
                }
            },
            "plugins": ["wholerow"]
        });
    });

    function loadchildlist(id) {
        debugger;
         var url1 = '/' + id + '/ItemCategoryPartial.html';
        $.ajax({
        type: 'GET',
        url: url1,
            success: function (data) {
                debugger;
           $('#partial').html(data);
        }
    });
}

</script>







