 @inject IMIS_Service.IMenuService.MenuService _menuService
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var mainlist = await _menuService.menuVM();

    if (mainlist.Count > 0)
    {
        @for (int i = 0; i < mainlist.Count; i++)
        {
                <li class="treeview">
                    <a href="#">
                        <i class="@mainlist[i]"></i> <span>@mainlist[i].Rightsname</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                </li>
                            @*@{*@
                    // var submenulist = await _menuService.MspSubMenu(mainlist[i].Id);
                    //if (mainlist[i].MenuSubMenu.Count > 0)
                    //{
                        @*<ul class="treeview-menu">*@

                          //  @for (int j = 0; j < mainlist[i].MenuSubMenu.Count; j++)
                           // {
                                //var menu = mainlist[i].MenuSubMenu[j].MenuUrl;

                                @*<li><a href="~/@mainlist[i].MenuSubMenu[j].MenuUrl"><i class="@mainlist[i].MenuSubMenu[j].Icon"></i>@mainlist[i].MenuSubMenu[j].DisplayName*@ @*<span class="label label-primary pull-right">4</span>*@@*</a></li>*@

                          //  }

                        @*</ul>*@
                   // }

               // }
            
        }
    } }
