@inject IMIS_Service.IMenuService.MenuService _menuService
@using IMIS_CORE.Core;
@{
    var mainlist = await _menuService.menuVM();

    if (mainlist.Count > 0)
    {
        for (int i = 0; i < mainlist.Count; i++)
        {
            string dispalyName = Utils.ToggleLanguage(mainlist[i].DisplayName, mainlist[i].NepName);
            <li class="treeview">
                <a>
                    <i class="@mainlist[i].Icon"></i>@dispalyName

                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>

                @{
                    if (mainlist[i].MenuSubMenu.Count > 0)
                    {
                        <ul class="treeview-menu">

                            @for (int j = 0; j < mainlist[i].MenuSubMenu.Count; j++)
                            {
                                var menu = mainlist[i].MenuSubMenu[j].MenuUrl;

                                <li id="@mainlist[i].MenuSubMenu[j].Id" class="actMenChild">
                                    <a href="~/@Url.Content(mainlist[i].MenuSubMenu[j].MenuUrl)">
                                        <i class="@mainlist[i].MenuSubMenu[j].Icon"></i>@Utils.ToggleLanguage(mainlist[i].MenuSubMenu[j].DisplayName,mainlist[i].MenuSubMenu[j].NepName)
                                    </a>
                                </li>

                            }
                        </ul>
                    }
                }
            </li>
        }
    }
}

@*<script>

     $('.actMenChild').on('click', function () {
            let this_id = $(this).attr('id');
             localStorage.setItem("actMenChild", this_id);
          $(this).addClass("active");
        });
        $('.actMen').on('click', function () {
            let this_id = $(this).attr('id');
            localStorage.setItem("activeParent", this_id);
        });

</script>*@