
@{
    ViewData["Title"] = "MenuFetchList";

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style> 
td.details-control {
    background: url('https://www.datatables.net/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('https://www.datatables.net/examples/resources/details_close.png') no-repeat center center;
}
</style>

<body>
    <!-- Bootstrap Core CSS -->
    <!-- Navigation -->
    <div id="page-wrapper">
        <div class="container-fluid">

            <div class="tab-lists-wrapper boxed parentTabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#region-tab">Menu List</a> </li>
                </ul>

                <div class="tab-content">

                    <!-- tab 1: region starts -->
                    <div class="tab-pane fade active in" id="region-tab">
                        <!-- generic add button for all the "add" forms | Add region -->
                        <a href="@Url.Content("~/MenuCreate.html")" class="btn btn-primary btn-fab add"><i class="material-icons">add</i></a>
                        <a href="#searchCollapse" class="btn btn-warning btn-fab search" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="searchCollapse"> <i class="material-icons search">search</i><i class="material-icons close">close</i></a>
                        @if (ViewBag.Message != null || ViewBag.Message == "")
                        {
                            <div class="alert @ViewBag.Class">
                                @ViewBag.Message
                            </div>
                        }
                        <!-- search filters -->
                        <div class="collapse" id="searchCollapse">
                            <div class="well">
                                <div class="form-group">
                                    <div class="col-sm-3 ">
                                        <select name="regions" id="region" class="form-control">
                                            <option value="0">Select Region</option>
                                            <option value="1">Region One</option>
                                            <option value="2">Region Two</option>
                                            <option value="3">Region Three</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <select name="constituency" id="constituency" class="form-control">
                                            <option value="0">Select Constituency</option>
                                            <option value="1">Constituency One</option>
                                            <option value="2">Constituency Two</option>
                                            <option value="3">Constituency Three</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-1 pull-right"><a href="#" class="btn btn-default form-modal-call"><i class="material-icons">search</i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="menu" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Name(Eng)</th>
                                        <th>Name(Nep)</th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <div id="add" hidden>

    </div>
    <!-- /#page-wrapper -->
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="js/plugins/script.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>



<script lang="ja" type="text/javascript"> 
$(document).ready(function() {
    var table = $('#menu').DataTable({
        "bProcessing": true,
        "processing": true,
        "serverSide": true,
        "dom": 'r<"clear">t<"row"<"col-sm-3"l><"col-sm-3"i><"col-sm-3"p>><"clear">',
        'searching': true,//recordsFiltered
		"ajax": {
            "url": "@Url.Content("~/menudatagetfetchdatadatable.html")", "type": "GET", "data": function (d) {
                d.search = $("#usersearch").val();

            },
          },
      "columns": [
            {
                "className":'details-control',
                "orderable":false,
                "data":null,
                "defaultContent": ''
            },
            { "data": "displayName", "orderable": true },
            { "data": "nepName", "orderable": true },
            ],
	});
    // Add event listener for opening and closing details
    $('#menu tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );

        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            $('#add').html('').empty();
            d = row.data(); 
            var data = d.menuSubMenu;
            for (var i = 0; i < data.length; i++) {
                var url = '/' + data[i].id + '/MenuEdit.html';
                //jQuery('td:last-child', row).html("<a href=" + url + " title='Edit unit' data-toggle='tooltip'><i class='fa fa-edit'></i></a>");
                //jQuery('[data-toggle="tooltip"]').tooltip(); 
                $('#add').append('<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;"><tr><td>Child Name:</td><td>' + data[i].displayName + '</td> ' + "<td><a href=" + url + " title='Edit unit' data-toggle='tooltip'><i class='fa fa-edit'></i></a></td>" + '</tr></table>');      
             }   
            row.child($('#add').html()).show();
            tr.addClass('shown');
        }
    } ); 

   }); 

</script>