@using IMIS_CORE.Core
 
@model IMIS_Service.ViewModel.EmployeeNameVM
    <div>
        <div class="form-group is-empty">
            <label for="region" class="col-md-2 control-label">
                @Utils.GetLabel("Code")<span class="requried">*</span>
            </label>
            <div class="col-md-9">
                @if (Model.EmpId > 0)
                {
                    <span>@Model.Code</span>
                }
                else
                {

                    <input type="text" class="form-control" asp-for="Code">
                }

            </div>
        </div>

        <div class="form-group is-empty">
            <label for="region" class="col-md-2 control-label">
                @Utils.GetLabel("Name(Eng)")<span class="requried">*</span>
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" asp-for="FirstNameEn">
            </div>
        </div>
        <div class="form-group is-empty">
            <label for="region" class="col-md-2 control-label">
                @Utils.GetLabel("Name(Nep)")<span class="requried">*</span>
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" asp-for="FirstNameNp">
            </div>
        </div>
    </div>