@using Microsoft.AspNetCore.Identity
@using IMIS_DataEntity.EntityClass
@using IMIS_CORE.Core
@inject SignInManager<Usermaster> SignInManager
@inject UserManager<Usermaster> UserManager
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="form-title"> @Utils.GetLabel("Dashboard") <small>@Utils.GetLabel("Statistics Overview") </small> </h2>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/scriptfunctionvue/ChartBar.js"></script>
<script src="~/scriptfunctionvue/VectorMap.js"></script>
<script type="text/javascript" lang="ja">
    jQuery(document).ready(function () {
        ChartGraph();
        VectorMap();
    });
</script>