@using Microsoft.AspNetCore.Identity
@using IMIS_DataEntity.EntityClass
@inject SignInManager<Usermaster> SignInManager
@inject UserManager<Usermaster> UserManager
@*@inject MSP_Service.User.UserService  _UserService*@
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="form-title"> Dashboard <small>Statistics Overview</small> </h2>
            </div>
        </div>
        <div class="row summary">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="material-icons">account_circle</i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">782,762</div>
                                <div>Registered Members</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a href="#" class="btn btn-default pull-right"><span>View Details </span><i class="material-icons">arrow_forward</i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="material-icons">account_balance</i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">10,725</div>
                                <div>OVC Registrations</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a href="#" class="btn btn-default pull-right"><span>View Details </span><i class="material-icons">arrow_forward</i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="material-icons">school</i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">21,622</div>
                                <div>Enrollments</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a href="#" class="btn btn-default pull-right"><span>View Details </span><i class="material-icons">arrow_forward</i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="material-icons">business_center</i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">10,725</div>
                                <div>Cases</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a href="#" class="btn btn-default pull-right"><span>View Details </span><i class="material-icons">arrow_forward</i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="material-icons">clear_all</i><span>Activities</span></h3>
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <span class="badge">just now</span>
                                <i class="fa fa-fw fa-map"></i> Map updated
                            </a>
                            <a href="#" class="list-group-item">
                                <span class="badge">4 minutes ago</span>
                                <i class="fa fa-fw fa-key"></i> Password changed
                            </a>
                            <a href="#" class="list-group-item">
                                <span class="badge">23 minutes ago</span>
                                <i class="fa fa-fw fa-check"></i> Added new data
                            </a>
                            <a href="#" class="list-group-item">
                                <span class="badge">46 minutes ago</span>
                                <i class="fa fa-fw fa-check"></i> Report 653 has been created
                            </a>
                            <a href="#" class="list-group-item">
                                <span class="badge">1 hour ago</span>
                                <i class="fa fa-fw fa-user"></i> A new user has been added
                            </a>
                            <a href="#" class="list-group-item">
                                <span class="badge">2 hours ago</span>
                                <i class="fa fa-fw fa-check"></i> Completed task: "Create table"
                            </a>
                            <a href="#" class="list-group-item">
                                <span class="badge">yesterday</span>
                                <i class="fa fa-fw fa-globe"></i> Saved the world
                            </a>
                        </div>
                        <div class="panel-footer">
                            <a href="#" class="btn btn-default pull-right"><span>View All Activities </span><i class="material-icons">arrow_forward</i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="material-icons">poll</i><span>Household Head Distribution by Literacy, Disability and Illness</span></h3>
                    </div>
                    <div class="panel-body">
                        <div id="test_barchart"></div>
                        <div class="panel-footer">
                            <a href="#" class="btn btn-default pull-right"><span>GO THERE </span><i class="material-icons">arrow_forward</i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-primary ">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="material-icons">work</i><span>Display Household Head Distribution by Occupation</span></h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Occupation</th>
                                        <th>Hhohho</th>
                                        <th>Lubombo</th>
                                        <th>Manzini</th>
                                        <th>Shiselweni </th>
                                        <th>Lubombo</th>
                                        <th>Hhohho</th>
                                        <th>Lubombo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Employed With Salary</td>
                                        <td>12</td>
                                        <td>36</td>
                                        <td>3</td>
                                        <td>1</td>
                                        <td>11</td>
                                        <td>54</td>
                                        <td>4</td>
                                    </tr>
                                    <tr>
                                        <td>Employed without Salary</td>
                                        <td>12</td>
                                        <td>36</td>
                                        <td>3</td>
                                        <td>1</td>
                                        <td>11</td>
                                        <td>54</td>
                                        <td>4</td>
                                    </tr>
                                    <tr>
                                        <td>Homemaker/Housewife</td>
                                        <td>12</td>
                                        <td>36</td>
                                        <td>3</td>
                                        <td>1</td>
                                        <td>11</td>
                                        <td>54</td>
                                        <td>4</td>
                                    </tr>
                                    <tr>
                                        <td>Not Working Due To Disablity</td>
                                        <td>12</td>
                                        <td>36</td>
                                        <td>3</td>
                                        <td>1</td>
                                        <td>11</td>
                                        <td>54</td>
                                        <td>4</td>
                                    </tr>
                                    <tr>
                                        <td>Does Not Apply</td>
                                        <td>12</td>
                                        <td>36</td>
                                        <td>3</td>
                                        <td>1</td>
                                        <td>11</td>
                                        <td>54</td>
                                        <td>4</td>
                                    </tr>
                                    <tr>
                                        <td>Other</td>
                                        <td>12</td>
                                        <td>36</td>
                                        <td>3</td>
                                        <td>1</td>
                                        <td>11</td>
                                        <td>54</td>
                                        <td>4</td>
                                    </tr>
                                    <tr>
                                        <td>Pupil/Student</td>
                                        <td>12</td>
                                        <td>36</td>
                                        <td>3</td>
                                        <td>1</td>
                                        <td>11</td>
                                        <td>54</td>
                                        <td>4</td>
                                    </tr>
                                    <tr>
                                        <td>Does Not Apply</td>
                                        <td>12</td>
                                        <td>36</td>
                                        <td>3</td>
                                        <td>1</td>
                                        <td>11</td>
                                        <td>54</td>
                                        <td>4</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer">
                            <a href="#" class="btn btn-default pull-right"><span>View Details</span><i class="material-icons">arrow_forward</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/row-->
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="material-icons">list</i><span>Display Household Head Distribution by Occupation</span></h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Occupation</th>
                                        <th>Hhohho</th>
                                        <th>Lubombo</th>
                                        <th>Manzini</th>
                                        <th>Shiselweni </th>
                                        <th>Lubombo</th>
                                        <th>Hhohho</th>
                                        <th>Lubombo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Employed With Salary</td>
                                        <td>12</td>
                                        <td>36</td>
                                        <td>3</td>
                                        <td>1</td>
                                        <td>11</td>
                                        <td>54</td>
                                        <td>4</td>
                                    </tr>
                                    <tr>
                                        <td>Employed without Salary</td>
                                        <td>12</td>
                                        <td>36</td>
                                        <td>3</td>
                                        <td>1</td>
                                        <td>11</td>
                                        <td>54</td>
                                        <td>4</td>
                                    </tr>
                                    <tr>
                                        <td>Homemaker/Housewife</td>
                                        <td>12</td>
                                        <td>36</td>
                                        <td>3</td>
                                        <td>1</td>
                                        <td>11</td>
                                        <td>54</td>
                                        <td>4</td>
                                    </tr>
                                    <tr>
                                        <td>Not Working Due To Disablity</td>
                                        <td>12</td>
                                        <td>36</td>
                                        <td>3</td>
                                        <td>1</td>
                                        <td>11</td>
                                        <td>54</td>
                                        <td>4</td>
                                    </tr>
                                    <tr>
                                        <td>Does Not Apply</td>
                                        <td>12</td>
                                        <td>36</td>
                                        <td>3</td>
                                        <td>1</td>
                                        <td>11</td>
                                        <td>54</td>
                                        <td>4</td>
                                    </tr>
                                    <tr>
                                        <td>Other</td>
                                        <td>12</td>
                                        <td>36</td>
                                        <td>3</td>
                                        <td>1</td>
                                        <td>11</td>
                                        <td>54</td>
                                        <td>4</td>
                                    </tr>
                                    <tr>
                                        <td>Pupil/Student</td>
                                        <td>12</td>
                                        <td>36</td>
                                        <td>3</td>
                                        <td>1</td>
                                        <td>11</td>
                                        <td>54</td>
                                        <td>4</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer">
                            <a href="#" class="btn btn-default pull-right"><span>View Details</span><i class="material-icons">arrow_forward</i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="material-icons">pie_chart</i><span>Household Head Distribution by Highest Education Level</span></h3>
                    </div>
                    <div class="panel-body">
                        <div id="test_donut"></div>
                        <div class="panel-footer">
                            <a href="#" class="btn btn-default pull-right"><span>view Details</span><i class="material-icons">arrow_forward</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="material-icons">pie_chart</i><span>Display Total OVC Count by Region and Constituency</span></h3>
                    </div>
                    <div class="panel-body">
                        <div id="test_piechart"></div>
                        <div class="panel-footer">
                            <a href="#" class="btn btn-default pull-right"><span>View Details</span><i class="material-icons">arrow_forward</i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="material-icons">timeline</i> <span>Household Head Distribution by Highest Education Level</span></h3>
                    </div>
                    <div class="panel-body">
                        <div id="testlinechart"></div>
                        <div class="panel-footer">
                            <a href="#" class="btn btn-default pull-right"><span>View Details</span><i class="material-icons">arrow_forward</i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/scriptfunctionvue/ChartBar.js"></script>
<script src="~/scriptfunctionvue/VectorMap.js"></script>
<script type="text/javascript" lang="ja">
    jQuery(document).ready(function () {
        ChartGraph();
        VectorMap();
    });
</script>